body {
  font-family: Arial, sans-serif;
}

#sidebar {
  background-color: #333;
  color: #fff;
  width: 250px;
  height: 100vh;
  padding-top: 20px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 350px 350ox 1fr;
  grid-gap: 50px;
}
@media (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 350px 350px 1fr;
  }
}
#content {
  padding-bottom: 200px;
  overflow-y: scroll;
}

.menu-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #555;
}

.menu-item:hover {
  background-color: #555;
}

h1 {
  margin-top: 0;
}

canvas {
  max-width: 100%;
}
