<div class="logo">
  <h1>Camping</h1>
  <h2>Camp</h2>
</div>
<nav>
  <ul>
    <li>
      <a routerLink="/"
        ><img src="../../../assets/links/assets/images/icon-1.png" alt="" />
        <em>Homepage</em></a
      >
    </li>
    <li>
      <a routerLink="/about"
        ><img src="../../../assets/links/assets/images/icon-2.png" alt="" />
        <em>About Us</em></a
      >
    </li>
    <li>
      <a routerLink="/register" *ngIf="!sh.testLog"
        ><img src="../../../assets/links/assets/images/icon-4.png" alt="" />
        <em>Register</em></a
      >
    </li>
    <li>
      <a routerLink="/login" *ngIf="!sh.testLog"
        ><span class="fa fa-users"></span> <em>Login</em></a
      >
    </li>
    <li>
      <a routerLink="/cCamp" *ngIf="sh.testLog"
        ><span class="fa fa-newspaper-o"></span> <em>Choose Camp</em></a
      >
    </li>
    <li>
      <a routerLink="/cDetails" *ngIf="sh.testLog"
        ><span class="fa fa-info-circle"></span> <em>Camp Details</em></a
      >
    </li>
  </ul>
</nav>

<div class="slides">
  <router-outlet></router-outlet>
</div>
