<div class="slide" id="4">
  <div class="content fourth-content">
    <div class="container-fluid">
      <form id="contact" action="" method="post">
        <div class="row">
          <div class="col-md-12">
            <h2>LogIn</h2>
          </div>
          <div class="col-md-10 m-auto">
            <fieldset>
              <input
                name="email"
                type="text"
                class="form-control"
                id="email"
                placeholder="Your email..."
                required=""
              />
            </fieldset>
          </div>
          <div class="col-md-10 m-auto">
            <fieldset>
              <input
                name="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter a password"
                required=""
              />
            </fieldset>
          </div>
          <div class="col-md-12">
            <fieldset>
              <button type="submit" id="form-submit" class="button">
                Send Now
              </button>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
