<div class="slide" id="2">
  <div class="content second-content">
    <div id="tabs">
      <ul>
        <li>
          <a href=".tabs-1"><span class="fa fa-desktop"></span></a>
        </li>
        <li>
          <a href=".tabs-2"><span class="fa fa-users"></span></a>
        </li>
        <li>
          <a href=".tabs-3"><span class="fa fa-mobile"></span></a>
        </li>
      </ul>
      <section class="tabs-content">
        <article class="tabs-1">
          <h2>What We Offer?</h2>
          <span>Discover Tunisia Camping </span>
          <p>
            We offer a unique and captivating escape from the hustle and bustle
            of everyday life. It is an opportunity to reconnect with nature,
            allowing individuals to immerse themselves in the beauty of the
            great outdoors.
          </p>
          <p>
            Whether pitching a tent in the wilderness, setting up camp by a
            serene lake, or parking an RV in a national park, camping caters to
            a wide range of preferences and adventure levels.
          </p>
        </article>
        <article class="tabs-2">
          <h2>What We Do?</h2>
          <span>Organizing camping trips and activities</span>
          <p>
            We play a pivotal role in creating unforgettable adventures and
            memorable getaways for outdoor enthusiasts With a passion for nature
            and a commitment to exceptional service, we curate meticulously
            planned camping trips that cater to diverse interests and
            preferences.
          </p>
          <p>
            From organizing group camping excursions to family-friendly outings,
            they ensure that every aspect of the trip is thoughtfully arranged,
            from selecting picturesque camping sites to providing top-notch
            camping equipment.
          </p>
        </article>
        <article class="tabs-3">
          <h2>Who We Are?</h2>
          <span>Tunisian Campers</span>
          <p>
            As Campers we learn essential survival skills and gain a deeper
            appreciation for the environment.
          </p>
          <p>
            From stargazing under clear skies to waking up to the melodious
            chirping of birds, camping offers a chance to unplug, unwind, and
            rediscover the simple pleasures of life.
          </p>
        </article>
      </section>
    </div>
  </div>
</div>
