<div class="slide" id="1">
  <div id="slider-wrapper">
    <div id="image-slider">
      <ul>
        <li class="active-img">
          <div class="slide-caption">
            <h6>New Arrival</h6>
            <h2>Beautiful<br />Camping</h2>
          </div>
        </li>
        <li>
          <div class="slide-caption">
            <h6>Have The best</h6>
            <h2>Experience<br />with us</h2>
          </div>
        </li>
        <li>
          <div class="slide-caption">
            <h6>Enjoy</h6>
            <h2>Your<br />Time</h2>
          </div>
        </li>
      </ul>
    </div>
    <div id="thumbnail">
      <ul>
        <li class="active">
          <img
            src="../../../../../assets/links/assets/images/camp1.jpg"
            height="55px"
            width="90px"
            alt="Earth"
          />
        </li>
        <li>
          <img
            src="../../../../../assets/links/assets/images/camp2.jpg"
            height="55px"
            width="90px"
            alt="Meeting"
          />
        </li>
        <li>
          <img
            src="../../../../../assets/links/assets/images/camp3.jpg"
            height="55px"
            width="90px"
            alt="Smart"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
